<div class="header">
    <h1>Page Title</h1>
    <h2>A subtitle for your page goes here</h2>
</div>

<div class="content">
    <h2 class="content-subhead">hello</h2>
    <% if current_user %>
      <p>signed in!</p>
      <%= link_to 'sign out', destroy_user_session_path, :method => :delete %>
    <% else %>
      <p>not signed in</p>
      <%= link_to 'sign in', new_user_session_path, :method => :get %>
    <% end%>
</div>
